<div class = "calculadora">
  <app-pantalla [input] = input></app-pantalla>

  <div class = 'fila'>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>1</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>2</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>3</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>+</p></app-boton>
  </div>

  <div class = 'fila'>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>4</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>5</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>6</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>-</p></app-boton>
  </div>

  <div class = 'fila'>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>7</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>8</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>9</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>*</p></app-boton>
  </div>

  <div class = 'fila'>
    <app-boton (manejarClic) = "calcular()"><p #c>=</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>0</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>.</p></app-boton>
    <app-boton (manejarClic) = "setInput($any($event))"><p #c>/</p></app-boton>
  </div>

  <div class = 'fila'>
    <app-boton-clear (manejarClear) = "input = ''"></app-boton-clear>
  </div>


</div>
